@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --primary-color: #5c5f58;
  --secondary-color: #dce1e3;
  --shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* Form and Searchbar styling start here */
.user-form {
  width: 100%;
  max-width: 700px;
}

.user-form input {
  background-color: var(--secondary-color);
  width: 100%;
  display: block;
  border: none;
  border-radius: 5px;
  color: var(--primary-color);
  padding: 1rem;
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: var(--shadow);
}

.user-form input::placeholder {
  color: var(--primary-color);
}

.user-form input:focus {
  outline: 0;
}

/* User Card Styling starts here */
.card {
  max-width: 800px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 5px;
  box-shadow: var(--shadow);
  display: flex;
  padding: 3rem;
  margin: 0 1.5rem;
}

.avatar {
  width: 375px;
  border: 10px solid var(--primary-color);
  height: 100%;
}

/* Styling of test side of the card */
.user-info {
  margin-left: 3.5rem;
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 400px;
}
.user-info ul li {
  display: flex;
  align-items: center;
  margin-left: 6px;
}

.user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.1rem;
  vertical-align: middle;
}

.repo {
  display: inline-block;
  text-decoration: none;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  /* When there is multiple repos and elements go to the next line */
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Media Queries for smaller screens */
@media screen and (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    padding: 1rem;
    overflow: hidden;
  }

  .user-info {
    margin: 3px;
    text-align: center;
  }

  .user-info ul li {
    display: flex;
    flex-direction: column;
    margin: 3px;
  }

  .user-form {
    max-width: 350px;
  }

  .avatar {
    width: 200px;
    max-height: 200px;
    margin-bottom: 10px;
    border: 7px solid var(--primary-color);
  }
}
