@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

img {
  height: 500px;
  width: 500px;
  object-fit: cover;
}

/* Main container wraps everything */
.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 530px;
  width: 500px;
  overflow: hidden;
}

/* The container which includes all the image */
.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

/* Buttons position */
.buttons-container {
  display: flex;
  justify-content: space-between;
}

/* General style for buttons */
.btn {
  background-color: rgb(166, 212, 0);
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 49.5%;
}

.btn:hover {
  filter: brightness(110%);
  color: #999;
}

.btn:focus {
  outline: none;
}
