@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f2f2;
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: #fff;
  border: 3px #000 solid;
  border-radius: 10px;
  padding: 30px;
  max-width: 1000px;
  text-align: center;
}

/* includes six input */
.code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

/* Each individual input has that class */
.code {
  border-radius: 5px;
  font-size: 75px;
  height: 120px;
  width: 100px;
  border: 1px solid #eee;
  text-align: center;
  font-weight: 300;
  -moz-appearance: textfield;
}

.code:not(:last-child) {
  margin-right: 3px;
}

/* Removes the spin button from the right */
.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.code:valid {
  border-color: #4ff005;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}

.info {
  background-color: #d3c8c8;
  display: inline-block;
  padding: 10px;
  line-height: 20px;
  max-width: 400px;
  color: #fff;
}

.info a {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .code-container {
    flex-wrap: wrap;
  }

  .code {
    font-size: 60px;
    height: 80px;
    max-width: 70px;
  }
}
